<div>
    <form [formGroup]="newSubjectForm" (ngSubmit)="onSubmitNewSubject()">
        <input class="inputtxt" placeholder="Title" type="text" name="newTitle" formControlName="newTitle"/>
        <span *ngIf="newSubjectForm.dirty && newSubjectForm.controls.newTitle.invalid">Error in title</span>
        <textarea class="inputtxt" placeholder="Message" name="newMessage" formControlName="newMessage" rows="5"></textarea>
        <span *ngIf="newSubjectForm.dirty && newSubjectForm.controls.newMessage.invalid">Error in title</span>
        <button class="ajoutsujet" type="submit" [disabled]="newSubjectForm.invalid">Ajouter un nouveau sujet</button>
    </form>
</div>

<div>
    <input class="inputtxt" placeholder="Filtrer par titre ou par auteur" type="text" id="filter" name="filter" (keyup)="onFilterInput($event)"/>

    
</div>



<!-- <a (click)="redirectToSujetDetails(4)">
    titre sujet n°x
</a> -->


    <div id="listeSujets" style="margin-top: 0px;">
    </div>


