.password .mat-form-field + .mat-form-field {
    position:relative;
	  margin:1%;
	  height:10%;
	  width:98%;
	  text-align:center;
}
  
.username .mat-form-field + .mat-form-field {
  position:relative;
  margin:1%;
  height:10%;
  width:98%;
  text-align:center;
}
