<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreationForm</title>
</head>
<body>

    <form [formGroup]="CreationForm" (ngSubmit)="onSubmit()">
        
        <input type="text" name="username" formControlName="username">
       
        <input type="password" name="password" formControlName="password">
        
        <input type="password" name="password_confirm" formControlName="password_confirm">
        
        <button type="submit" [disabled]="CreationForm.invalid">Créer</button>

    </form> 
    
</body>
</html>
