<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super forum</title>
</head>
<body>
    
    <header>
        <button class="headerB hUnselected" [class.hSelected]="menuPosition === 0" (click)="redirectToAccueil()">Accueil</button>
        <button class="headerB hUnselected" [class.hSelected]="menuPosition === 1" *ngIf="isConnected" (click)="redirectToModifierCompte()">Modifier mon compte</button>
        <button class="headerB hUnselected" [class.hSelected]="menuPosition === 2" *ngIf="isConnected" (click)="redirectToseDeconnecter()">Se déconnecter</button>
        <button class="headerB hUnselected" [class.hSelected]="menuPosition === 3" *ngIf="!isConnected" (click)="redirectToCreationCompte()">Créer un compte</button>
        <button class="headerB hUnselected" [class.hSelected]="menuPosition === 4" *ngIf="!isConnected" (click)="redirectToseConnecter()">Se connecter</button>
    </header>
    
    
    <main>
        <router-outlet></router-outlet>
    </main>

</body>