<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super forum</title>
</head>
<body>
    
    <header>


        <button class="headerB hSelected">Accueil</button>
        <button class="headerB hUnselected" routerLink="modifierCompte"*ngIf="isConnected">Modifier mon compte</button>
        <button class="headerB hUnselected" *ngIf="!isConnected" (click)="seConnecter()">Se connecter</button>
        <button class="headerB hUnselected" routerLink ="createUserForm"*ngIf="!isConnected">Créer un compte</button>
        <button class="headerB hUnselected" *ngIf="isConnected" (click)="seDeconnecter()">Se Deconnecter</button>

    </header>
    
    
    <main>
        <router-outlet></router-outlet>
    </main>


</body>