body {
    --bleu-claire: #79A3D4;
    --bleu: #3D80CC;
    --bleu-foncé: #0000CD;
    --transparence: #00000000;
    --marge: 1em;

    margin: 20px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
    padding-top: 50px;
}

button.headerB {
    color: var(--bleu);
    background-color: var(--transparence);
    font-size: 1.3em;
    border-left: none;
    border-right: none;
    border-top: none;
}

button.hUnselected {
    border-bottom: 5px solid var(--transparence);
}

button.hSelected {
    border-bottom: 5px solid var(--bleu);
}

button:hover {
    border-bottom: 5px solid var(--bleu-foncé);
}

span.connecteduser {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ffffff;
    background-color: #0000CD;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
}