<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
    <div>
        <input type="text" placeholder="Username" name="username" formControlName="username">
        <p *ngIf="connexionForm.dirty && connexionForm.controls.nvUsername.invalid">ERREUR</p>
    </div>
    <div>
        <input type="password" placeholder="Mot de passe" name="password" formControlName="password">
            <p *ngIf="connexionForm.dirty && connexionForm.controls.actuelPassword.invalid">ERREUR</p>
    </div>
    <div>
        <button mat-button type="submit" [disabled]="connexionForm.invalid">Se connecter</button>
    </div>
</form>
