<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreationForm</title>
</head>
<body>

    <main>

        <h1>  {{ titreSujet() }}  </h1>

        <p *ngFor="let message of getMessages()">
            
            <!-- Par {{ message.author_id.username }} -->
            Le {{ message.date }}. <br>
            {{ message.content }}.
        </p>

        <form [formGroup]="creationMessage" (ngsubmit)="onSubmit()">

            <input type="text" name="message" formControlName="message">
            <button type="submit" [disabled]="creationMessage.invalid">Répondre au sujet</button>

        </form> 

    </main>
    
</body>
</html>