mat-form-field {
    width: 98%;
  }
.mat-form-field-wrapper ng-tns-c85-3{
  padding: 0;
}
.button {
     width: 250px;
    height:100%;
    font-size:70%;
    text-align:flex;
    font-size: 1.0em;
}

div {
    height:1%;
    padding-top: 1%;
    text-align:center;
    padding-bottom: 1%;
}

.Username{
  padding: 0;
  padding-top: 2%;
}

.mdpActuel{
  padding:0;
}

.nvPassword{
  padding:0;
}

.confirPassword{
  padding:0;
}

